* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    background: #FEFBF1;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}

.header_nav {
    display: flex;
    gap: 40px;
}

.header_nav a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-decoration: none;
    color: #703412;
}

.business_paragraph {
    font-weight: 400;
    font-size: 11px;
    line-height: 44px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #703412;
    padding-bottom: 21px;
}

.business_about {
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0%;
    color: #703412;
    width: 848px;
    padding-bottom: 123px;
}

img{
  max-width: 100%;
}

.brands_info h3 {
  margin-bottom: 194px;
}

.pattern_brands_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.grid_item img{
  display: block;
}

.grid_item h4 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0%;
  color: #703412;
  margin: 32px 0 11px;
}

.grid_item p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #703412B8;
}